nb-card{
  background-color:#f2f3f5;
  margin: 0rem 1rem 0rem 0rem;
  border-radius: 12px;
}
input[type=text], input[type=email]{
  background-color: #d5d7db;
}
h2{
  font-size: 45px;
  margin-left: -1rem;
}
nb-icon{
  font-size: 30px;
}
