.card{
  background-color: #f2f3f5;
  border-radius: 15px;
}
::ng-deep {
  [dir=ltr] nb-select.appearance-outline.size-medium .select-button {
    background-color: #d5d7db;
    color: black;
  }
}
::ng-deep input[type=search]{
  width:250px;
  margin-bottom: 2rem;
}
::ng-deep .dataTables_wrapper .dataTables_filter input[type=search]{
  border-radius: 15px;
}
nb-card{
  background-color:#f2f3f5;
  border-radius: 12px;
  margin:1rem 1rem 0 0;
}
h1{
  font-size: 46px;
  margin-left: -1rem;
  color: black;
}
.activeCard {
  width: 75%;
  margin-top: -50%;
  background-color:  #068FFF;
  color:#ffffff;
}

.inactiveCard{
  width: 75%;
  margin-top: -50%;
  background-color: #00C4FF;
  color:#ffffff;
}
.pettyCard{
  //width: 70%;
  margin-top: -80%;
  background-color: #00C4FF;
  color:#ffffff;
}
.conservCard {
  //width: 70%;
  margin-top: -80%;
  background-color: #11009E;
  color:#ffffff;
}
.expendCard{
  //width: 70%;
  margin-top: -80%;
  background-color: #068FFF;
  color:#ffffff;
}
.studentCreationSec{
  margin: 0 1rem 0 0;
  border-radius: 12px;
  background: none;
}
.total-card{
  //width: 70%;
  margin-top: -80%;
  background-color: #1C7094;
  color:#ffffff;
}
