nb-card{
  background-color:#f2f3f5;
  margin:0 1rem 0 0;
  border-radius: 12px;
}

h1{
  font-size: 45px;
  margin-left: -1rem;
}

input[type=text], input[type=email] {
  background-color: #d5d7db;
}
::ng-deep input[type=search]{
  width:250px;
  margin-bottom: 2rem;
}
::ng-deep .dataTables_wrapper .dataTables_filter input[type=search]{
  border-radius: 15px;
}
//search input end
::ng-deep .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background-color: #d5d7db;
}
