.container{
  position: fixed;
  margin: 8rem 0 0 30rem;
}
.loginDiv{
  margin-top: 4%;
}

h1 {
  color: black;
  font-size: 45px;
}
.p{
  color: black;
}
.otp{
  margin-top: 4%;
}
input[type=password], input[type=email], input[type=number]{
  background-color: #e8e9ed;
}
input[type=password]{
  //margin-top: 4%;
  background-color: #e8e9ed;
}
.conformButton{
  margin-top: 4%;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
@media (max-width: 340px) {
.container {
  position: fixed;
  margin: 11rem 0 0 -0.5rem;
}
}
@media (min-width: 341px) and (max-width: 430px){
  .container {
    margin: 11rem 0 0 -1.5rem;
    position: fixed;
  }
}
@media (min-width: 431px) and (max-width: 500px) {
  .container {
    margin: 11rem 0 0 1rem;
    position: fixed;
  }
}
@media (min-width: 501px) and (max-width: 641px) {
  .container {
    margin: 11rem 0 0 1rem;
    position: fixed;
  }
}
@media (min-width:642px) and (max-width: 768px) {
  .container {
    margin: 11rem 0 0 2rem;
    position: fixed;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .container {
    margin: 11rem 0 0 11rem;
    position: fixed;
  }
}
@media (min-width: 992px) and (max-width: 1050px) {
  .container {
    position: fixed;
    margin: 11rem 0 0 19rem;
  }
}
